SECRET_KEY=""
DEBUG=True
SERVER_ROLE="private"
ALLOWED_HOSTS=localhost,django,127.0.0.1
DBNAME="postgres"
DBUSER="postgres"
DBPASS="hello"
DBHOST="db"
DBPORT="5432"
DB_ENGINE="django.db.backends.postgresql"
STATICFILES="/static/"
MEDIAFILES="/media/"
ACCESS_TOKEN_LIFETIME=500
REFRESH_TOKEN_LIFETIME=100
DJANGO_SETTINGS_MODULE=archive.settings
EMAIL_HOST_USER='name@example.com'
EMAIL_HOST_PASSWORD='email_password'
ADMINS="[('name', 'name@example.com')]"
REDIS_PASSWORD="secure_redis_password_123"
REDIS_PORT=6387
REDIS_URL="redis://:secure_redis_password_123@localhost:6379/0"
PUBLIC_REDIS_URL="redis://:secure_redis_password_123@redis:6379/0"