asgiref
audioread
cffi
click
decorator
Django==3.0.5
django-appconf
django-multiselectfield
django-video-encoding
et-xmlfile
gunicorn
h11
jdcal
joblib
librosa
llvmlite
mutagen
numba
numpy
openpyxl
Pillow
psycopg2
pycparser
pytz
resampy
scikit-learn
scipy
shutilwhich
six
SoundFile
sqlparse
threadpoolctl
typing-extensions
