

:root {
  --color-black: #413118;
  --color-teal: #006c6c;
  --color-burg: #921f00;
  --color-gold: #ff9600;

  --color-maroon: #7b2e00;
  --color-seafoam: #077373;

  --grey-light: #fafafa;

  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

html {
  font-size: 80%;
}

body {
  margin-top: 11rem;
}

ul {
  list-style: none;
}

.bg_black {
  background: var(--color-black);
}

.bg_teal {
  background: var(--color-teal);
}

.bg_burg {
  background: var(--color-burg);
}

.bg_gold {
  background: var(--color-gold);
}

.bg_maroon {
  background: var(--color-maroon);
}

.bg_seafoam {
  background: var(--color-seafoam);
}

.text_seafoam {
  color: var(--color-seafoam);
}

.navbar {
  background: var(--color-maroon);
}

.navbar-brand {
  font-size: x-large;
  font-family: "Times New Roman";
}

.sidebar_wrapper {
  position: fixed;
  top: 11.5rem;
  left: 2rem;

}

.sidebar_wrapper > nav > ul > li {
  background: var(--color-seafoam);
}

.page_location {
  max-width: 10rem;
}

.container {
  margin-left: 17rem;
}

.stealth {
  color: inherit;
}

.stealth:hover,
.stealth:active {
  color: var(--color-seafoam);
  text-decoration: none;
}


.page-title {
  font-size: xx-large;
  margin-right: 1rem;
  font-family: "Times New Roman";
}

.page-title.smaller-title {
  font-size: x-large;
}

.warning {
  color: red;
}

.info {
  color: blue;
}

.fa-times {
  color: red;
}

hr {
  /* defaults commented
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); */
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.indented {
  text-indent: 2em;
}

.rectangle {
  width: 120px;
  clip-path: polygon(0px 0px,0px 25px,110px 25px,120px 10px, 110px 0px);
  height: 25px;
  background: #0f0;
  position: fixed;
  top: 0;
  left: 0;
}

.rectangle.rectangle-black {
    background: var(--color-black);
    z-index: 10;
}

.rectangle.rectangle-teal {
    background: var(--color-teal);
    left: 70px;
    z-index: 9;
}

.rectangle.rectangle-burg {
    background: var(--color-burg);
    left: 140px;
    z-index: 8;
}

.rectangle.rectangle-gold {
    background: var(--color-gold);
    left: 250px;
    z-index: 7;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid white;
}

.shape-container {
position: relative
}
.ht-triangle-burg {
position: absolute;
top: 5px;
left: 0px;
width: 0;
height: 0;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
border-left: 7px solid var(--color-burg);
}
.ht-triangle-white {
position: absolute;
top: 0px;
left: 0px;
width: 0;
height: 0;
border-top: 12px solid transparent;
border-bottom: 12px solid transparent;
border-left: 12px solid white;
}

.metadata-section {
  height: 2rem;
}

.metadata-section--additional, .metadata-section--files {
  cursor: pointer;
}

.hidden_noheight {
  visibility: hidden;
  height: 0;
}
