{% extends "front/base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<div class="page-title" style="display: inline">Search Results</div>{% if request.user|has_group:"Archivist"%}<div style="display: inline"><a class="stealth" href="add"><i class="fa fa-plus"></i></a></div>{% endif %}
<form method="GET" action=".">
    <div class="form-row">
        <div class="form-group col-md-7">
          <div class="input-group input-group-lg rounded">
            <input class="form-control py-2 border-right-0 border" type="search" name="keyword_contains"
                placeholder="Search Archive" value="{{ keyword_contains_query_last }}" />
            <span class="input-group-append">
              <div class="input-group-text bg_seafoam">
                <div class="text-white">🔍 Search</div>
              </div>
            </span>
          </div>
        </div>
    </div>
</form>
<div class="row">
  <div class="col-md-6 font-weight-bold">
    Result(s): {{ results_count }} | Duration total: {{ results_duration }}
  </div>
</div>
<hr>
{% for item in queryset %}
<a class="stealth" href="{% url 'front_item_detail' item.pk %}">
    <div class="row">
      <div class="col-md-9 font-weight-bold h5 text_seafoam">
          {{item.english_title}} {% if item.english_title and item.indigenous_title %}{{ " - " }}{% endif %} {{ item.indigenous_title }}
      </div>
    </div>
{% if item.description_scope_and_content %}
    <div class="row">
      <div class="col-md-9 mb-2">
          {{item.description_scope_and_content|slice:":100"}}{% if item.description_scope_and_content != item.description_scope_and_content|slice:":100" %}{{ "..." }}{% endif %}
      </div>
    </div>
{% endif %}
    <div class="row">
        <div class="col-md-9 mb-4">
            TYPE: <span class="text_seafoam text-uppercase">{{item.get_general_content_display }}</span> | LANGUAGES: <span class="text_seafoam text-uppercase">{{item.language.all|join:", " }}</span> | GENRE: <span class="text_seafoam text-uppercase">{{ item.get_genre_display }}</span> | ACCESS LEVEL: <span class="text_seafoam text-uppercase">{{ item.get_item_access_level_display }}</span>
        </div>
    </div>
</a>
{% endfor %}

<script>
if ( "{{ order_choice_last }}" != "None" ) {
    $('select[name=form_control_sort]').val("{{ order_choice_last }}");
}
if ( "{{ columns_choice_name_last }}" != "None" ) {
    $('select[name=form_control_columns]').val("{{ columns_choice_name_last }}");
}
$('.form-control').form-control('refresh')

</script>

<script>
  const pageLocation = document.querySelector('.page_location');
  pageLocation.innerHTML = `:: HOME / SEARCH`
</script>
{% endblock %}
