{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<div class="page-title" style="display: inline">Collaborators</div>{% if request.user|has_group:"Archivist"%}<div style="display: inline"><a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="add"><i class="bi bi-plus fs-2"></i></a></div>{% endif %}
<form method="GET" action="." class="mb-2">
    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary" name="filter">Sort</button>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="form_control_sort" name="form_control_sort">
                    <option value="filename">Name</option>
                    <option value="updated">Last updated</option>
            </select>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary" name="export" title="Export">Export</button>
        </div>
    </div>
    <div class="row mt-2">
    Filtered results: {{ results_count }}
    </div>
    <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="name_contains"
            placeholder="Name contains..." value="{{ name_contains_query_last }}" />
            <span class="input-group-text bg-transparent">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="collection_contains"
                placeholder="[placeholder]" value="{{ collection_contains_query_last }}" />
            <span class="input-group-text bg-transparent">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="native_languages_contains"
            placeholder="Native languages contain..." value="{{ native_languages_contains_query_last }}" />
            <span class="input-group-text bg-transparent">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="other_languages_contains"
            placeholder="Other languages contain..." value="{{ other_languages_contains_query_last }}" />
            <span class="input-group-text bg-transparent">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
    </div>
</form>
{% for collaborator in queryset %}
<a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'collaborator_detail' collaborator.pk %}">
    <div class="row">
        <div class="col-md-3">
            {% anonymize_collaborators collaborator request.user 'all_names' %}
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            {{ collaborator.native_languages.all|join:", " }}
        </div>
        <div class="col-md-3">
            {{ collaborator.other_languages.all|join:", " }}
        </div>
    </div>
</a>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; first</a>
            <a href="?{% url_replace page=queryset.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?{% url_replace page=queryset.next_page_number %}">next</a>
            <a href="?{% url_replace page=queryset.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
$('select[name=form_control_sort]').val("{{ order_choice_last }}");
$('.form-control').form-control('refresh')
</script>
{% endblock %}
