{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<div class="page-title" style="display: inline">Export columns settings</div>{% if request.user|has_group:"Archivist"%}<div style="display: inline"><a class="stealth" href="add"><i class="fa fa-plus"></i></a></div>{% endif %}
<div class="row">
    <div class="col-md-4">
        <b>Name</b>
    </div>
</div>
{% for columns_export in queryset %}
<a class="stealth" href="{% url 'columns_export_detail' columns_export.pk %}">
    <div class="row">
        <div class="col-md-4">
            {{ columns_export.name }}
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}
