{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<h1>Language</h1>
{% if request.user|has_group:"Archivist"%}
<div class="form-row">
    <h1>
    <a class="btn btn-primary" href="edit/" role="button">Edit</a>
    <a href="{% url "language_delete" language.id %}"><i class="fas fa-times"></i></a>
    </h1>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        <b>Language name:</b> {{ language.name }}
    </div>
</div>
<div class="container">
    <div class="row mt-2">
        <div class="col-auto">
            <b>Alternative names:</b> {{ language.alt_name }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>ISO:</b> {{ language.iso }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Glottocode:</b> {{ language.glottocode }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Level:</b> {{ language.get_level_display }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Family:</b> {{ language.family }} {% if language.family_abbrev == language.family %}{% else %}(Abbreviation: {{ language.family_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Family glottocode:</b> {{ language.family_id }}
        </div>
    </div>
    <div class="row">
        <div class="col-auto d-inline-block">
            <b>Primary subgroup:</b> {{ language.pri_subgroup }} {% if language.pri_subgroup_abbrev == language.pri_subgroup %}{% else %}(Abbreviation: {{ language.pri_subgroup_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Primary subgroup glottocode:</b> {{ language.pri_subgroup_id }}
        </div>
    </div>
    <div class="row">
        <div class="col-auto d-inline-block">
            <b>Secondary subgroup:</b> {{ language.sec_subgroup }} {% if language.sec_subgroup_abbrev == language.sec_subgroup %}{% else %}(Abbreviation: {{ language.sec_subgroup_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Secondary subgroup glottocode:</b> {{ language.sec_subgroup_id }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Dialects</b> (comma separated list): {{ language.dialects }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Dialect glottocodes</b> (comma separated list): {{ language.dialects_ids }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Region:</b> {{ language.region }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Latitude:</b> {{ language.latitude }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Longitude:</b> {{ language.longitude }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Tribes:</b> {{ language.tribes }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Notes:</b> {{ language.notes }}
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-auto">
        <b>Dialects (old, not for migration):</b>{% if request.user|has_group:"Archivist"%} (click on an existing dialect to edit) <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="dialects/add"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
</div>
{% for dialect in dialect_info %}
<div class="row">
    <div class="col-auto indented">
        <b>Dialect:</b> {% if request.user|has_group:"Archivist"%}<a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'dialect_edit' dialect.pk %}"> {{ dialect.name }}</a>
<a href="{% url "dialect_delete" dialect.id %}"><i class="fas fa-times"></i></a>{% else %}{{ dialect.name }}{% endif %}
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-4">
        <b>Last updated:</b> {{ language.updated }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>By:</b> {{ language.modified_by }}
    </div>
</div>
<hr />
<div class="form-row">
  <h4>
    Collaborators with this language
  </h4>
</div>
{% for collaborator_with_language in collaborators_with_language %}
<div class="row">
  <div class="col-md-12">
      <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'collaborator_detail' collaborator_with_language.pk %}">{% anonymize_collaborators collaborator_with_language request.user 'name' %}</a>
  </div>
</div>
{% endfor %}
<hr />
<div class="form-row">
  <h4>
    Items with this language
  </h4>
</div>
{% for item_with_language in items_with_language %}
<div class="row">
  <div class="col-md-12">
      <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'item_detail' item_with_language.pk %}">{{ item_with_language }}</a>
  </div>
</div>
{% endfor %}
{% endblock %}
