{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<div class="page-title" style="display: inline">Languages</div>{% if request.user|has_group:"Archivist"%}<div style="display: inline"><a class="stealth" href="add"><i class="fa fa-plus"></i></a></div>{% endif %}
<form method="GET" action=".">
    <div class="form-row">
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary" name="filter">Sort</button>
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" id="form_control_sort" name="form_control_sort">
                    <option value="name">Name</option>
                    <option value="iso">ISO</option>
                    <option value="tree">Families</option>
                    <option value="updated">Last updated</option>
            </select>
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary" name="export">Export</button>
        </div>
    </div>
    <div class="form-row">
    Filtered results: {{ results_count }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="iso_contains"
                placeholder="ISO code contains..." value="{{ iso_contains_query_last }}" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="name_contains"
            placeholder="Name contains..." value="{{ name_contains_query_last }}" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="family_contains"
            placeholder="Family contains..." value="{{ family_contains_query_last }}" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="primary_subgroup_contains"
            placeholder="Primary subgroup contains..." value="{{ primary_subgroup_contains_query_last }}" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
    </div>
</form>
{% for language in queryset %}
<a class="stealth" href="{% url 'language_detail' language.pk %}">
    <div class="row">
        <div class="col-md-3">
            {{ language.iso }}
        </div>
        <div class="col-md-3">
            {{ language.name }}
        </div>
        <div class="col-md-3">
            {{ language.family }}
        </div>
        <div class="col-md-3">
            {{ language.pri_subgroup }}
        </div>
    </div>
</a>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
            <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
$('select[name=form_control_sort]').val("{{ order_choice_last }}");
$('.form-control').form-control('refresh')
</script>
{% endblock %}
