{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<div class="page-title" style="display: inline">Languoid stats</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ISO</th>
        <th scope="col">Glottocode</th>
        <th scope="col">Number of Items</th>
      </tr>
    </thead>
    <tbody>
      {% for languoid in languoids %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ languoid.name }}</td>
          <td>{{ languoid.iso }}</td>
          <td>{{ languoid.glottocode }}</td>
          <td>{{ languoid.num_items }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
