{% extends "base.html" %}
{% load static %}
{% load metadata_templatetags %}

{% block page_content %}
<h1>Languoid</h1>
{% if request.user|has_group:"Archivist"%}
<div class="form-row">
    <h1>
    <a class="btn btn-primary" href="edit/" role="button">Edit</a>
    <a href="{% url "languoid_delete" languoid.id %}"><i class="fas fa-times"></i></a>
    </h1>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        <b>Languoid name:</b> {{ languoid.name }}
    </div>
</div>
<div class="container">
    <div class="row mt-2">
        <div class="col-auto">
            <b>Alternative names:</b> {{ languoid.alt_names|join:", " }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>ISO:</b> {{ languoid.iso }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Glottocode:</b> {{ languoid.glottocode }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Level:</b> {{ languoid.level_nal }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Family:</b> {{ languoid.family }} {% if languoid.family_abbrev == languoid.family %}{% else %}(Abbreviation: {{ languoid.family_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Family glottocode:</b> {{ languoid.family_id }}
        </div>
    </div>
    <div class="row">
        <div class="col-auto d-inline-block">
            <b>Primary subgroup:</b> {{ languoid.pri_subgroup }} {% if languoid.pri_subgroup_abbrev == languoid.pri_subgroup %}{% else %}(Abbreviation: {{ languoid.pri_subgroup_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Primary subgroup glottocode:</b> {{ languoid.pri_subgroup_id }}
        </div>
    </div>
    <div class="row">
        <div class="col-auto d-inline-block">
            <b>Secondary subgroup:</b> {{ languoid.sec_subgroup }} {% if languoid.sec_subgroup_abbrev == languoid.sec_subgroup %}{% else %}(Abbreviation: {{ languoid.sec_subgroup_abbrev }}){% endif %}
        </div>
        <div class="col-auto d-inline-block">
            <b>Secondary subgroup glottocode:</b> {{ languoid.sec_subgroup_id }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Region:</b> {{ languoid.region }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Latitude:</b> {{ languoid.latitude }}
        </div>
        <div class="col-auto d-inline-block">
            <b>Longitude:</b> {{ languoid.longitude }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Tribes:</b> {{ languoid.tribes }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto d-inline-block">
            <b>Notes:</b> {{ languoid.notes }}
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-auto">
        <b>Dialects (old, not for migration):</b>{% if request.user|has_group:"Archivist"%} (click on an existing dialect to edit) <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="dialects/add"><i class="fa fa-plus"></i></a>{% endif %}
    </div>
</div>
{% for dialect in dialect_info %}
<div class="row">
    <div class="col-auto indented">
        <b>Dialect:</b> {% if request.user|has_group:"Archivist"%}<a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'dialect_edit' dialect.pk %}"> {{ dialect.name }}</a>
<a href="{% url "dialect_delete" dialect.id %}"><i class="fas fa-times"></i></a>{% else %}{{ dialect.name }}{% endif %}
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-4">
        <b>Last updated:</b> {{ languoid.updated }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>By:</b> {{ languoid.modified_by }}
    </div>
</div>
<hr />
<div class="form-row">
  <h4>
    Collaborators with this languoid
  </h4>
</div>
{% for collaborator_with_languoid in collaborators_with_languoid %}
<div class="row">
  <div class="col-md-12">
      <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'collaborator_detail' collaborator_with_languoid.pk %}">{% anonymize_collaborators collaborator_with_languoid request.user 'name' %}</a>
  </div>
</div>
{% endfor %}
<hr />
<div class="form-row">
  <h4>
    Items with this languoid
  </h4>
</div>
{% for item_with_languoid in items_with_languoid %}
<div class="row">
  <div class="col-md-12">
      <a class="link-dark link-opacity-50-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'item_detail' item_with_languoid.pk %}">{{ item_with_languoid }}</a>
  </div>
</div>
{% endfor %}
{% endblock %}
